<div style="overflow-x: hidden;">
    <div class="row" *ngFor="let point of points; let i = index">
        <div class="col-6">
            <label>
                <span *ngIf="!point.enableEdit">{{point.pointName}}</span>
                <input *ngIf="point.enableEdit" type="text" [(ngModel)]="point.pointName">
                <span class="px-2"  style="cursor: pointer; font-size: small;">
                    <mat-icon style="font-size: medium;" *ngIf="!point.enableEdit" (click)="onPointEdit(point)">edit</mat-icon>
                    <mat-icon style="font-size: medium; margin-top:4px" *ngIf="point.enableEdit" (click)="onPointSave(point)">save</mat-icon>
                </span>
            </label>
        </div>
        <div class="col-6">
            <mat-slide-toggle [checked]="point.isOn" (change)="toggle($event, i)"></mat-slide-toggle>
        </div>
    </div>
</div>