.main-container-height {
  height: 100vh;
  padding: 10px;
}
.main-container-cards-row-height {
  height: 48vh;
  margin: 5px;
}
.main-container-cards-column-padding {
  padding: 0px;
}
.main-container-cards-height {
  height: 100%;
  margin: 5px;
}
.main-container-cards-accordion-panel-header {
    padding-right: 0px;
    padding-left: 10px;
}
.mat-title-with-icon {
    justify-content: space-between;
    margin-right: 0px;
}
.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.profile-icon-active {
   color: #FB8C00;
}
.vertical-align-middle {
    vertical-align: middle
}
.display-flex {
    display: flex;
}
.padding-zero {
    padding: 2px;
}
.padding-left-zero {
    padding-left: 0px;
}
.padding-right-zero {
    padding-right: 0px;
}
.text-align-end {
    text-align: end;
}
.text-align-start {
    text-align: start;
}
.justify-content-start {
    justify-content: start;
}