<div class="container main-container-height">
  <div class="row gx-5 main-container-cards-row-height">
    <div class="col-6 main-container-cards-column-padding">
      <mat-card class="main-container-cards-height">
        <mat-card-header>
          <mat-card-title>Profiles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let profile of profiles">
              <mat-expansion-panel-header class="main-container-cards-accordion-panel-header">
                <mat-panel-title class="mat-title-with-icon">
                  <div> {{profile.profileName}} </div>
                  <div>
                    <span class="material-icons vertical-align-middle "  [class.profile-icon-active] = "profile.isActive">power_settings_new</span>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-point-list [points]="profile.pointConfig"></app-point-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button><span class="material-icons">add</span></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-6 main-container-cards-column-padding">
      <mat-card class="main-container-cards-height">
        <mat-card-header>
          <mat-card-title>Points</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-point-list [points]="points"></app-point-list> </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row gx-5 main-container-cards-row-height">
    <div class="col-6 main-container-cards-column-padding">
      <mat-card class="main-container-cards-height">
        <mat-card-header>
          <mat-card-title>Sensor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card *ngFor="let sensor of sensors">
                <mat-card-subtitle>{{sensor.location}}</mat-card-subtitle>
                <div class="row">
                    <div class="col-6 text-align-start vertical-align-middle">
                        <span style="padding-top: 8px;" class="material-icons vertical-align-middle"  [class.profile-icon-active] = "sensor.shouldNotify">{{sensor.icon}}</span>
                    </div>
                    <div class="col-6 padding-left-zero padding-right-zero text-align-start">
                        <span class="material-icons vertical-align-middle "  [class.profile-icon-active] = "sensor.shouldNotify">notification_important</span>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <mat-icon>edit</mat-icon>
                              <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>delete</mat-icon>
                              <span>Delete</span>
                            </button>
                          </mat-menu>
                    </div>
                </div>
            </mat-card>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 main-container-cards-column-padding">
      <mat-card class="main-container-cards-height">
        <mat-card-header>
          <mat-card-title>Water Level</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ngx-gauge style="padding-top: 50px;" [type]="gaugeType" 
            [value]="gaugeValue" 
            [label]="gaugeLabel"
            [size]="size"
            [thick]="thick"
            [foregroundColor]="'rgb(255, 165, 0)'"
            [backgroundColor]="'rgb(128,128,128)'"
            [animate]="true"
            [append]="gaugeAppendText">
            </ngx-gauge>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
